// Place all the styles related to the attends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
	text-align: center;
}

.tripheader {
	color: #111F3B;
}

.table {
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
}

.attend_href{
	text-align: right;
	float: right;
	margin-bottom: 65px;
}